@media screen and (max-width: 479px) {

    /* footer */
    .footer {
        background-color: #08021c;
        height: auto;
    }

    .footer .content {
        padding: 40px 0px;
    }

    .footer .content .row .col-lg-6:last-child{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer .content .row .col-lg-6:last-child .col-lg-2 {
        padding: 0px 4px 0px 4px;
    }

    .footer h1 {
        color: #ffffff;
        font-size: 26px;
    }

    .footer .images {
        display: none;
    }

    .footer .input input {
        padding: 12px 20px 12px 20px;
        background: transparent;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 116px;
        width: 86%;
    }

    .footer .input .button {
        position: relative;
        width: 0;
        height: 0;
        top: 10px;
        right: 164px;
    }

    .footer .input .button button {
        color: #000000;
        padding: 8px 16px;
        font-weight: 500;
        background-color: #ffffff;
        border-radius: 44px;
        font-size: 12px;
        margin-left: 48px;
        margin-top: -3px;
    }

    .footer .title-p {
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
    }

    .footer .menulist-item {
        font-weight: 300;
        font-size: 18px;
        color: #ffffffcc;
        line-height: 16px;
    }

    .footer .menulist-item .subtitle-p {
        font-size: 14px;
    }
}

@media screen and (min-width: 480px) and (max-width: 575px) {

    /* footer */
    .footer {
        background-color: #08021c;
        padding-bottom: 30px;
        height: auto;
    }

    .footer .content {
        padding: 80px 0px;
    }

    .footer h1 {
        color: #ffffff;
        font-size: 30px;
    }

    .footer .images {
        display: none;
    }

    .footer .input input {
        padding: 14px 30px 14px 30px;
        background: transparent;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 116px;
        width: 86%;
    }

    .footer .input .button {
        position: relative;
        width: 0;
        height: 0;
        top: 10px;
        right: 164px;
    }

    .footer .input .button button {
        color: #000000;
        padding: 10px 18px;
        font-weight: 500;
        background-color: #ffffff;
        border-radius: 44px;
        font-size: 12px;
        margin-left: 44px;
        margin-top: -3px;
    }

    .footer .title-p {
        color: #ffffff;
        font-size: 22px;
        font-weight: 600;
    }

    .footer .menulist-item {
        font-weight: 300;
        font-size: 18px;
        color: #ffffffcc;
        line-height: 16px;
    }

    .footer .menulist-item .subtitle-p {
        font-size: 16px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    /* footer */
    .footer {
    background-color: #08021c;
    padding-bottom: 30px;
    height: auto;
    }

    .footer .content {
    padding: 80px 0px;
    }

    .footer h1 {
    color: #ffffff;
    font-size: 42px;
    }

    .footer .images {
    position: relative;
    width: 0;
    height: 0;
    left: 20px;
    top: 16px;
    }

    .footer .input input {
    padding: 20px 60px 20px 60px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 116px;
    width: 90%;
    }

    .footer .input .button {
    position: relative;
    width: 0;
    height: 0;
    top: 10px;
    right: 164px;
    }

    .footer .input .button button {
    color: #000000;
    padding: 12px 38px;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 44px;
    font-size: 12px;
    }

    .footer .title-p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    }

    .footer .menulist-item {
    font-weight: 300;
    font-size: 18px;
    color: #ffffffcc;
    line-height: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* footer */
    .footer {
    background-color: #08021c;
    padding-bottom: 30px;
    height: auto;
    }

    .footer .content {
    padding: 80px 0px;
    }

    .footer h1 {
    color: #ffffff;
    font-size: 46px;
    }

    .footer .images {
    position: relative;
    width: 0;
    height: 0;
    left: 20px;
    top: 16px;
    }

    .footer .input input {
    padding: 20px 60px 20px 60px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 116px;
    width: 90%;
    }

    .footer .input .button {
    position: relative;
    width: 0;
    height: 0;
    top: 10px;
    right: 164px;
    }

    .footer .input .button button {
    color: #000000;
    padding: 12px 38px;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 44px;
    font-size: 12px;
    }

    .footer .title-p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    }

    .footer .menulist-item {
    font-weight: 300;
    font-size: 18px;
    color: #ffffffcc;
    line-height: 16px;
    }
}

@media screen and (min-width: 992px) {
    /* footer */
    .footer {
    background-color: #08021c;
    padding-bottom: 30px;
    height: auto;
    }

    .footer .content {
    padding: 80px 0px;
    }

    .footer h1 {
    color: #ffffff;
    font-size: 46px;
    }

    .footer .images {
    position: relative;
    width: 0;
    height: 0;
    left: 20px;
    top: 16px;
    }

    .footer .input input {
    padding: 20px 60px 20px 60px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 116px;
    width: 90%;
    }

    .footer .input .button {
    position: relative;
    width: 0;
    height: 0;
    top: 10px;
    right: 164px;
    }

    .footer .input .button button {
    color: #000000;
    padding: 12px 38px;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 44px;
    font-size: 12px;
    }

    .footer .title-p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    }
    
    .footer .menulist-item {
        font-weight: 300;
        font-size: 18px;
        color: #ffffffcc;
        line-height: 16px;
    }

    .footer .menulist-item .subtitle-p {
    font-size: 18px;
    line-height: 22px;
    }
}
